.sideNavigationContainer{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    left: 15px;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}
.sideNavigationSlot{
    width: 25px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}


.pageIndexNumber{
    font-size: 25px;
    top: 1px;
    font-family: "DIN Condensed";
    position: absolute;
    transition: all 0.5s ease;
    z-index: 2;
    letter-spacing: 1px;
}

.sideNavigationLine{
    display: block;
    width: 75%;
    background: rgba(0, 0, 0, 0.555);
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: all 0.3s linear;
}

.active{
    width: 130%;
    background-color: black;
}