.home{
  width: 100%;
  height: 100vh;
  background: url(/homeBackground.png) var(--primarySalmon);
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.homeHero{
  color: white;
  text-align: center;
  text-transform: uppercase;
}

